{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<body style="background-image: url('{{ asset('asset/11.jpg') }}'); background-size: 100%">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3" style="color: white">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" style="color: white">Please sign in</h1>
    <label for="inputUsername" style="color: white"> Username</label>
    <input type="text" value="{{ last_username }}"
           name="Username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword" style="color: white">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
</body>
{% endblock %}
