<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
        <style>
         nav {
             min-height: 4rem;
             background-color: #f7ff21;
         }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ path('home') }}">Home</a>
    <a class="navbar-brand" href="{{ path('custom') }}">Custom</a>
    <a class="navbar-brand" href="{{ path('post.create') }}">Create</a>
    <a class="navbar-brand text-primary" href="{{ path('app_login') }}">Login</a>
    <a class="navbar-brand text-success" href="{{ path('register') }}">Registration</a>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a  class="navbar-brand float-md-right text-danger" href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
    </li>
    </ul>
</nav>
        <div class="container">
          {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
